// Shadow on card 
.has-shadow {
    &.bg-lighter {
        .card, .sp-pdl-item, .invoice-wrap, .accordion {
            box-shadow: 0 0 8px -3px rgba($shadow-color-light, 0.15);
        }
    }
    .card, .sp-pdl-item, .invoice-wrap, .accordion {
        box-shadow: 0 0 6px -2px rgba($shadow-color-light, 0.2);
    }
    .data-head, .data-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .card .data-head:not(.is-plain) {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        @if($rtl==false){
            padding-left: 0.75rem;
        }
        @if($rtl==true){
            padding-right: 0.75rem;
        }
    }
    .nav-tabs {
        box-shadow: 0 2px 0 -1px rgba($shadow-color-light, 0.06);
    }
    .nk-header {
        box-shadow: 0 3px 0 -1px rgba($shadow-color-light, 0.04);
    }
}

.nio-version {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.02em;
    position: absolute;
    right: -1px;
    bottom: -3px;
}

.code {
    &-tag {
        color: $purple;
    }
    &-class {
        color: $pink;
    }
    &-fnc {
        color: $cyan;
    }
}

.nk-switch-icon{
    color: lighten($base-light, 5%);
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
        font-size: 1.5rem;
    }
    .icon-sm{
        font-size: 1.25rem;
    }
    &:hover{
        color: $base-text;
    }
    &.active{
        color: $accent-color;
    }
}

.is-scrollable {
    overflow: auto;
}
@if($rtl==true){
    .ni {
        &[class*="left"],&[class*="right"], &[class*="back-ios"], &[class*="forward-ios"]  {
        transform: scale(-1);
            .btn > span + & {
                @if($rtl==false){
                    padding-left: 0;
                    padding-right: 8px;
                }
                @if($rtl==true){
                    padding-right: 0;
                    padding-left: 8px;
                }
            }
        }
    }
}